pynput==1.7.6
pyobjc-framework-Quartz==9.2  # for macOS window title
pyobjc-framework-Cocoa==9.2
cryptography==41.0.3
sqlalchemy==2.0.20
keyring==23.13.1
fastapi==0.103.1
uvicorn==0.23.2
pydantic==2.3.0
